*{
    padding: 0;
    margin: 0;
}

nav{
    height: 60px;
    background-color: burlywood;
}

body{
    background-color: blue;
}

.container{
    min-height: calc(100vh - 60px);
}

.footer {
    clear: both;
    position: relative;
    height: 140px;
    margin-top: -140px;
    background-color: red;
}