*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}
.logo{
    color: rgb(226, 226, 226);
    font-size: 20px;
}
.nav-links {
    display: flex;
    width: 30%;
    justify-content: space-around;
    gap: 30px;
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-size: 18px;
}
.nav-links li {
    list-style: none;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.nav-links li a {
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links li:hover .mega-box {
    top: 85px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #164c82;
}

.mega-box {
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}
.mega-box .content {
    background: #242526;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.content .row{
    width: calc(25% - 30px);
    line-height: 45px;
}
.content .row header {
    color:#7fffd4;
    font-size: 20px;
}

.content .row .mega-links {
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.row .mega-links li {
    padding: 0 20px;
}
.row .mega-links li a {
    padding: 0 25px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
    width: 200px;
}
.nav-links .dropmenu {
    background: #242526;
    color:#d9d9d9;
    width: 150px;
    top: 85px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.nav-links li:hover .dropmenu  {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.dropmenu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    border-radius: 0px;
}

@media (min-width: 320px) and (max-width: 902px) {
  
    .nav-links .dropmenu {
        top: 22px;
    }
    
  }

@media screen and (max-width: 1159px) {
    .nav-links a{
        font-size: 14px;
    }
}

@media screen and (max-width: 902px) {
    body {
        overflow-x: hidden; /* Χ Άξονας απόκρυψη για το content box */
    }
    .nav-links li:hover .mega-box {
        visibility: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;/* Η διαφορά ύψους από το Desktop Menu */
        top: 8vh;
        background-color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%); /*Το πάει από τα δεξιά για να μην φαίνεται*/
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block; /* Θα πάρει τις μορφοποιήσεις από το nav γιατι βρίσκεται εκεί μέσα */
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toogle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toogle .line2{
    opacity: 0;
}
.toogle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.searchArea {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
}
.textfieldSearch {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 32.5%;
}

.textfieldSearch input{
    width: 50%;
    height: 40px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border: none;
    border-bottom: 2px solid silver;
    font-size: 17px;
}
.fas.fa-search.fa-2x{
    padding-left: 18px;
    cursor: pointer;
}

.categoryTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    min-height: 18vh;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 13%;
    padding-right: 10%;
}

.cards .card {
    width: 273px;
    height: 322px;
    background: #6F69AD;
    border-radius: 7px;
    margin: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.cards a {
    text-decoration: none;
}

.cards .card img {
    width: 100%;
    height: 242px;
}

.cards .card h2 {
    color: white;
    text-align: center;
}

.cards .card:nth-child(2) {
    background: #F8C822;
}
.cards .card:nth-child(3) {
    background: #B5E742;
}
.cards .card:nth-child(4) {
    background: #59ADFF;
}
.cards .card:nth-child(5) {
    background: #8ecae6;
}
.cards .card:nth-child(6) {
    background: #2a9d8f;
}
.cards .card:nth-child(7) {
    background: #264653;
}
.cards .card:nth-child(8) {
    background: #e76f51;
}

.h4-filters {
    text-align: center;
}

.products-heading {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 30vh;
    align-items: center;
    justify-content: center;
}

.main-section {
    
}
.products-list {
    margin: 0 auto;
    padding-left: 30px;
    max-width: 1200px;
}

.list-ol-products {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    padding: 10px;
    margin: auto;
}

.list-ol-products .product-card {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 7px;
    max-height: 490px;
    max-width: 280px;
    overflow-y: hidden;
}
.product-card img {
    max-width: 272px;
    max-height: 290px;
    display: block;
    cursor: pointer;
}

.card-content {
    font-size: 0.9em;
    line-height: 1.3;
    background: #fafafa;
    padding: 15px;
}

.card-content h4 {
    margin-top: 0px;
}

.filter-ul {
    list-style-type: none;
    padding: 10px;
    line-height: 25px;
}

.sidebar {
    position: absolute;
    top: 32%;
    width: 15%;
    height: auto;
    background: #E5E4E2;
    display: grid;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.box {
    background: white;
    padding: 20px 20px 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.box .slider {
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.box .slider input {
    height: 10%;
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 25px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.slider input::-moz-range-progress {
    height: 10px;
    border-radius: 25px;
    background: #3498db;
}

.slider input::-moz-range-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 4px solid #3498db;
    background: white;
    -webkit-appearance: none;
}

.box .value {
    font-size: 20px;
    font-weight: 600;
    color: #3498db;
    width: 40px;
    text-align: center;
}

.select-box {
    width: 300px;
    position: relative;
}

.select-box select {
    height: 42px;
    padding: 10px 15px;
    line-height: 20px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
    -webkit-appearance: none;
    appearance: none;
}

.select-box:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -4px;
    border-top: 8px solid #3498db;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

.select-box select:focus {
    border: 2px solid #3498db;
}
@media only screen and (min-width: 369px) and (max-width: 1460px) {
    .sidebar {
        position: relative;
        width: 50%;
    }
}
@media only screen and (min-width: 1460px) and (max-width: 1599px) {
    .sidebar {
        width: 11%;
    }
}

.container {
    min-height: 300px;
    max-width: 400px;
    margin: 40px auto;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-animation: hi 0.5s;
            animation: hi 0.5s;
    -webkit-transform: translateZ(0px);
  }
  .container * {
    box-sizing: border-box;
  }
  
  .pages {
    flex: 1;
    white-space: nowrap;
    position: relative;
    transition: all 0.4s;
    display: flex;
  }
  .pages .page {
    min-width: 100%;
    padding: 20px 15px;
    padding-top: 0px;
    background: linear-gradient(to left, #955DFF, #6FAAFF);
  }
  .pages .page:nth-of-type(1) .input {
    transform: translateX(-100%) scale(0.5);
  }
  .pages .page:nth-of-type(2) .input {
    transform: translateX(100%) scale(0.5);
  }
  .pages .page .input {
    transition: all 1s;
    opacity: 0;
    transition-delay: 0s;
  }
  .pages .page.signup {
    background: linear-gradient(to left, #6FAAFF, #955DFF);
  }
  .pages .page .title {
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    line-height: 14px;
  }
  .pages .page .title i {
    vertical-align: text-bottom;
    font-size: 19px;
  }
  .pages .page .input {
    margin-top: 20px;
  }
  .pages .page input.text {
    background: #F6F7F9;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
  }
  .pages .page input[type=submit], #createAdFormButton {
    background: rgba(0, 0, 0, 0.5);
    color: #F6F7F9;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-weight: 600;
  }
  
  .tabs {
    max-height: 50px;
    height: 50px;
    display: flex;
    background: #FFF;
  }
  .tabs .tab {
    flex: 1;
    color: #5D708A;
    text-align: center;
    line-height: 50px;
    transition: all 0.2s;
  }
  .tabs .tab .text {
    font-size: 14px;
    transform: scale(1);
    transition: all 0.2s;
  }
  
  .container > input[type=radio] {
    display: none;
  }
  
  input[type=radio]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) {
    box-shadow: inset -3px 2px 5px rgba(0, 0, 0, 0.25);
    color: #3F4C7F;
  }
  input[type=radio]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) .text {
    transform: scale(0.9);
  }
  input[type=radio]:nth-of-type(1):checked ~ .pages {
    transform: translateX(0%);
  }
  input[type=radio]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.5s;
  }
  input[type=radio]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(1) {
    transition-delay: 0.2s;
  }
  input[type=radio]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(2) {
    transition-delay: 0.4s;
  }
  input[type=radio]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(3) {
    transition-delay: 0.6s;
  }
  input[type=radio]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(4) {
    transition-delay: 0.8s;
  }
  input[type=radio]:nth-of-type(1):checked ~ .pages .page:nth-of-type(1) .input:nth-child(5) {
    transition-delay: 1s;
  }
  
  input[type=radio]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) {
    box-shadow: inset 3px 2px 5px rgba(0, 0, 0, 0.25);
    color: #3F4C7F;
  }
  input[type=radio]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) .text {
    transform: scale(0.9);
  }
  input[type=radio]:nth-of-type(2):checked ~ .pages {
    transform: translateX(-100%);
  }
  input[type=radio]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input {
    opacity: 1;
    transform: translateX(0%);
    transition: all 0.5s;
  }
  input[type=radio]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(1) {
    transition-delay: 0.2s;
  }
  input[type=radio]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(2) {
    transition-delay: 0.4s;
  }
  input[type=radio]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(3) {
    transition-delay: 0.6s;
  }
  input[type=radio]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(4) {
    transition-delay: 0.8s;
  }
  input[type=radio]:nth-of-type(2):checked ~ .pages .page:nth-of-type(2) .input:nth-child(5) {
    transition-delay: 1s;
  }
  
  @-webkit-keyframes hi {
    from {
      transform: translateY(50%) scale(0, 0);
      opacity: 0;
    }
  }
  
  @keyframes hi {
    from {
      transform: translateY(50%) scale(0, 0);
      opacity: 0;
    }
  }

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }

  body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
  }
  
  @-webkit-keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .avatar-img{
    width:50px;
    position:relative;
    top:-20%;
    border-radius:50px
  }

  #login, #register-btn,#reset-pwd{
    cursor: pointer;
  }

  
footer {
  margin-top: 150px;
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  height: auto;
  max-width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: ce;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  gap: 70px;
}
.socials li {
  margin: 0 10 px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i {
  color: aqua;
}
.footer-bottom {
  background: #111;
  max-width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.createAdContainer{
  padding: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}